/* BACKGROUND PROPERTIES 
    ПОРЯДОК ИМЕЕТ ЗНАЧЕНИЕ*/
/* div {
  height: 300px;
  color: brown;
  /* height: 400px; сработает 6строка а не четвертая
}
.big-img {
  background: url(/CSS/images/big-image.png);
}
.small-img {
  background: url(/CSS/images/small-image.png);
}
.folder-img {
  background: url(/CSS/images/Isle\ of\ Klezbos.jpg);
} 

*/

/* BACKGROUND-REPEAT */
div {
  height: 300px;
  color: orange;
  /* height: 400px; сработает 6строка а не четвертая */
}
.big-img {
  background: url(/CSS/images/big-image.png);
  /* background-repeat: round; закоммичен для position */
}
.small-img {
  border: 4px solid brown;
  background: url(/CSS/images/small-image.jpg);
  background-repeat: repeat; /* ничего не произошло, т.к по умолчанию */
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-repeat: repeat-y;
  background-repeat: space;
  background-repeat: round;
}
.folder-img {
  background: url(/CSS/images/Isle\ of\ Klezbos.jpg);
}

/* BACKGROUND-SIZE (Дополнение к коду BACKGROUND-REPEAT) */
.big-img {
  background-size: cover;
}
/* .small-img {
    /* background-size: cover;
  } */
.folder-img {
  background-size: contain;
  background-repeat: no-repeat;
}

/* BACKGROUND-POSITION (Дополнение к коду BACKGROUND-REPEAT) */
.big-img {
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}
.small-img {
  background-repeat: no-repeat;
  /* background-position: center;
  background-position: bottom;
  background-position: left;
  background-position: right;
  background-position: top; 
  */
  /*Движения по осям */
  background-position: 100% /*(ось x)*/ 100% /* (ось y) */;
}

/* BACKGROUND-ATTACHMENT */
/* ДЛЯ BACKGROUND-ATTACHMENT и BACKGROUND IMAGE SHORTCUTS COMBINED:
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* h1{
    margin: 0 auto;
    padding-top: 5px;
    margin-top: 60px;
  } */

div {
  min-height: 100vh;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.big-img {
  background: url("/CSS/images/big-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.small-img {
  background: url("/CSS/images/Isle\ of\ Klezbos.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.folder-img {
  background: url("/CSS/images/big-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Разеделение BACKGROUND-ATTACHMENT и BACKGROUND IMAGE SHORTCUTS COMBINED */
hr {
  height: 200px;
  border: none;
  background-color: wheat;
}
h2 {
  font-size: 40px;
  color: brown;
  background-color: wheat;
  font-style: oblique;
  text-align: center;
}

/* BACKGROUND IMAGE SHORTCUTS COMBINED */
.banner {
  text-decoration: none;
  background: url("/CSS/images/Isle\ of\ Klezbos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.header {
  background: linear-gradient(rgba(255, 217, 0, 0.5), rgba(255, 0, 0, 0.5)),
    url("/CSS/images/big-image.png") center/cover no-repeat fixed; /* Сокращение свойств .banner 
    Работает только в такой последовательности (по такому порядку) */
}

/* Linear-Gradient Colorzilla */
.colorzilla {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+0,ff6600+31,c72200+100 */
  background: #f3c5bd; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #e28c7c 0%,
    #e9b877 0%,
    #ff7c25 35%,
    #e02d0a 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #e28c7c 0%,
    #e9b877 0%,
    #ff7c25 35%,
    #e02d0a 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #e28c7c 0%,
    #e9b877 0%,
    #ff7c25 35%,
    #e02d0a 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
}
