/* CSS BOX MODEL
PADDING 
MARGIN
BORDER
*/
h1 {
  background: #7bff00;
  padding-top: 30px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 50px;
}
p {
  background: #b700ff;
  /* padding: 50px; */
  /* padding: 20px 40px; */
  padding: 30px 40px 70px 20px;
}

/* PADDING 
     MARGIN
     BORDER */
/* *{
    margin: 0;
  } */
h1 {
  background: brown;
  padding: 20px;
  margin: 30px;
  /* border-style: solid;
    border-width: 10px;
    border-color: green; */
  border-bottom-style: dashed;
  border-bottom-width: 5px;
  border-bottom-color: #222;
}
p {
  background: violet;
  padding: 20px;
  border: 13px solid darkorange;
  /* margin: 50px 20px; */
  margin: 100px 20px 20px 50px;
}

/* BORDER-RADIUS
     Negative Margin */
h1 {
  background: red;
  padding: 20px;
  margin: 0;
  border: 5px solid black;
  border-radius: 20px;
}
p {
  background: blue;
  padding: 30px;
  border: 13px solid green;
  margin: 5px;
  border-radius: 50%;
  margin-top: 100px; /* -100px; */
}
