/*
calc();
perform math operations + - * /
mix and match values
*/
* {
  margin: 0;
}

.navbar {
  background: blueviolet;
  height: 100px;
  color: white;
  font-size: 4rem;
}
.banner {
  background: red;
  min-height: calc(100vh - 100px);
}
