/* Default Display Property */
/* Блок (block) :  Применение этого значения для встроенных элементов заставляет его вести подобно блокам — происходит перенос строк в начале и в конце содержимого. 
(ВСЕГДА НАЧИНАЕТ новую строку и занимает всю ширину)

Встроенный (Inline) : Элемент отображается как встроенный. Использование блочных тегов автоматически создает перенос и показывает содержимое этих тегов с новой строки. Значение inline отменяет эту особенность, поэтому содержимое блочных элементов начинается с того места, где окончился предыдущий элемент.
(НЕ ЗАПУСКАЕТСЯ и занимает столько же места, сколько и содержимое). */
.block {
  background: aqua;
  color: whitesmoke;
  /* display: block; (ничего не именилось) */
  /* display: inline; */
}

.inline {
  background: brown;
  color: white;
  /* display: inline; (ничего не именилось) */
  /* display: block; */
}
