div {
  background: blueviolet;
  margin: 10px;
  color: whitesmoke;
}

.none {
  display: none;
}

.opacity-1 {
  opacity: 1;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-0 {
  opacity: 0;
}

.visibility {
  visibility: hidden;
}
